  MemberFactory.getMembersOfRegistry($routeParams.registryId)
  .then((memberData)=>{
  $scope.members = [];
    console.log("memberData", memberData);
      return $q.all(
        Object.keys(memberData).map((key)=>{
          return AuthFactory.getUser(memberData[key].uid)
      }))
      .then((memberData)=>{
        console.log("memberData", memberData);
        memberData.forEach((member)=>{
          Object.keys(member).forEach((key)=>{
            console.log(member[key]);
            $scope.members.push(member[key])
          });
        });
        console.log("member names", $scope.members)
      })
  });

  getGiftsForRegistry();
  function getGiftsForRegistry (){
    console.log("running?");
    GiftFactory.getGifts($routeParams.registryId)
    .then((giftData)=>{
      console.log("giftData", giftData);
      $scope.gifts = giftData;
      $scope.$watch('gifts', function handleGiftIndexChange(newValue, oldValue) {
        GiftFactory.updateAllGiftsInView($scope.gifts);
      }, true);
      $scope.$watch('gifts.dayId', function handleGiftIndexChange(newValue, oldValue) {
        console.log('newValue', newValue);
        // GiftFactory.updateAllGiftsInView($scope.gifts);
      }, true);
    });
  }













