<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
        <div ng-include="'partials/couplebanner.html'"></div>
      <div class="row">
        <div class="col s6 offset-s3">
          <span>
            <input ng-model="searchText.search" type="text" autofocus placeholder="Search Registered Items" class="white teal-text">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax" parallax><img src="img/weddingbanner.png"></div>
</div>

<div class="row">
  <div ng-repeat="gift in gifts | filter: searchText.search">
    <div class="col s12 m4 l3">
      <div class="card medium">
        <div class="card-image waves-effect waves-block waves-light responsive-img">
          <img class="activator" src="{{gift.image}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 truncate">{{gift.price}}<br>{{gift.title}}<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{gift.price}}<i class="material-icons right">close</i></span>
          <p>{{gift.comments}}</p>
        </div>
        <div class="card-action">
          <a href="{{gift.link}}" target="_blank">View on Amazon</a>

          <a ng-click="giftDelete(gift.id)">Remove gift</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
        <div ng-include="'partials/couplebanner.html'"></div>
      <div class="row">
        <div class="col s6 offset-s3">
          <span>
            <input ng-model="searchText.search" type="text" autofocus placeholder="Search Registered Items" class="white teal-text">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax" parallax><img src="img/weddingbanner.png"></div>
</div> -->

<!-- DND Version -->
<!-- <div class="row"> -->
  <!-- <div class="col s12 m5 offset-s1"> -->
<!--     <ul dnd-list="gifts">
      <li
        ng-repeat="gift in gifts | filter: searchText.search"
        dnd-draggable="gift"
        dnd-moved="gifts.splice($index, 1)"
        dnd-effect-allowed="move"
        dnd-selected="selected = gift"
        ng-class="{'selected' : selected === gift}"
        class="col s12 m5 offset-s1"
        ng-mouseenter="options=true" ng-mouseleave="options=false">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img draggable="false" class="activator" ng-src="{{gift.image}}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4 truncate">{{gift.price}}{{gift.title}}<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{gift.price}}<i class="material-icons right">close</i></span>
            <p>{{gift.comments}}</p>
            <p style="display:none">Index: {{gift.index = gifts.indexOf(gift)}}</p>
          </div>
          <div class="card-action">
            <a href="{{gift.link}}" target="_blank">View on Amazon</a>
            <a ng-click="giftDelete(gift.id)">Remove Item</a>
          </div>
        </div>
      </li>
    </ul> -->
  <!-- </div> -->
<!-- </div> -->
