<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
<!--       <div ng-controller="RegistryBannerCtrl">
        <h2 class="header center pink-text text-accent-1">{{bannerData.firstName}} &#38 {{bannerData.firstName2}}</h2>
        <div class="row center">
          <h5 class="header col s12 light">{{bannerData.WeddingDate}} | {{bannerData.location}}</h5>
          <h5 class="header col s12 light"><span countdown end-date="{{bannerData.WeddingDate}}" units="days"></span> to go!</h5>
        </div>
      </div> -->
        <h2 class="header center pink-text text-accent-1">{{regDataArr.firstName1}} &#38 {{regDataArr.firstName2}}</h2>
        <div class="row center">
          <h5 class="header col s12 light">{{regDataArr.WeddingDate}} | {{regDataArr.location}}</h5>
          <h5 class="header col s12 light"><span countdown end-date="{{regDataArr.WeddingDate}}" units="days"></span> to go!</h5>
        </div>

      <div class="row">
        <div class="col s6 offset-s3">
          <span>
            <input ng-model="amazonSearchTerm" type="text" autofocus placeholder="Search Amazon.com" class="white teal-text">
            <a class="btn waves-effect waves-light teal lighten-1" ng-click="searchAmazon(); amazonSearchTerm = ''">Search</a>
          </span>
        </div>
<!--         <div class="col s1">
        </div> -->
      </div>
    </div>
  </div>
  <div class="parallax" parallax><img src="img/weddingbanner.png"></div>
</div>


<div class="row">
  <div ng-repeat="item in itemCollection">
    <div class="col s12 m5 offset-s1">
      <div class="card medium">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{item.image}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 truncate">{{item.title}}<i class="material-icons right">more_vert</i></span>
          <h5 class="black-text">{{item.price}}</h5>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{item.descriptionTitle}}<i class="material-icons right">close</i></span>
          <p>{{item.description}}</p>
        </div>
        <div class="card-action">
          <a href="{{item.link}}" target="_blank">View on Amazon</a>
          <a ng-click="itemSelected(item); openGiftModal()">Add to Registry</a>
        </div>
      </div>
    </div>
  </div>
</div>
